* {
    box-sizing: border-box;
    font-family: sans-serif;
}

button, input[type="submit"], input[type="reset"], a {
    text-decoration: none;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: none;
}

input {
    border: 0;
    outline: 0;
    border-bottom: solid 2px black;
    width: 9em;
    font-size: 20pt;
    text-align: center;
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0)
}

input:focus {
    outline: none !important;
}

.boost_0, .boost_1 {
    font-family: sans-serif;
    font-size: 14pt;
    font-weight: bold;
    border-radius: 9px;
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}

.boost_1 {
    background-image: url("../img/fingers.jpg");
}

.boost_0 {
    background-image: url("../img/buttons.jpg");
}

.container {
    padding: 5px;
    margin: 15px auto;
    font-size: 20pt;
    width: 400px;
    background-color: rgba(224, 201, 166, 1);
    border-radius: 9px;
}

.container-child {
    margin: 10px auto;
    text-align: center;
    width: 80%;
}

#input-file {
    font-size: 15pt;
    width: 100%;
    text-decoration: none;
    border: 0;
    outline: 0;
}

#submit-btn {
    margin-top: 15px;
}

@-webkit-keyframes rightAnswerAnimation {
    0% {
        color: black;
    }
    10% {
        color: green;
    }
    90% {
        color: green;
    }
    100% {
        color: black;
    }
}

#task-field {
    text-align: center;
    -webkit-animation-duration: 0.15s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-name: '';
    -webkit-animation-iteration-count: 1;
}

.btn {
    font-size: 14pt;
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #000000;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000000;
    text-align: center;
    transition: all 0.2s;
}

.small-text {
    font-size: 10pt;
}

.btn:hover {
    color: #FFFFFF;
    background-color: #000000;
}

@media all and (max-width: 30em) {
    .btn {
        display: block;
        margin: 0.4em auto;
    }
}

.info-text {
    font-size: 10pt;
    background-color: whitesmoke;
    border-radius: 9px;
}