<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block title %}Miniline авторизация{% endblock %}
{% block stylesheet %}{% static 'css/main.css' %}{% endblock %}

{% block body %}
    <div class="container center">
        <h2 class="container-child">Авторизация</h2>
        <form class="container-child" action="{% url 'login' %}" method='POST'>
            {% csrf_token %}
            <div class="container-child"> {{ form.username }}</div>
            <div class="container-child">{{ form.password }}</div>
            {% if invalid %}
                <p>Введи нормальные данные</p>
            {% endif %}
            <button class="btn" type="submit">Войти</button>
        </form>
        <div class="container-child"><a class="btn small-text" href="{% url 'register' %}">Не зарегистрирован?</a></div>
    </div>
{% endblock %}