<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block title %}
    Miniline регистрация
{% endblock %}

{% block content %}
    <div class="section" style="margin-top: 100px">
        <h2>Регистрация</h2>
        {% if form.errors %}
            <p>{{form.errors}}</p>
        {% endif %}
        <form action="{% url 'register' %}" method='POST'>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Зарегистрироваться</button>
        </form>
        <a href="{% url 'login' %}">Зарегистрирован?</a>
    </div>
{% endblock %}