{% extends "base.html" %} 
{% load static %} 
{% load i18n %}
{% block title %}{%trans "Miniline sign up"%}{% endblock %} 
{% block body %}
  <div class="container center">
    <h2 class="container-child">{%trans "Registration"%}</h2>
    <form class="form" action="{% url 'register' %}" method="POST">
      {% csrf_token %} 
      <div class="form-child">{{form.username}}</div>
      <div class="form-child">{{form.password}}</div>
      <div class="form-child">{{form.password_confirm}}</div>
      {% if form.errors %}
        <div class="container-child error">
          {%for value in form.errors.values%}
              {{ value }}
          {%endfor%}
        </div>
      {% endif %}
      <button class="btn form-child" type="submit">{%trans "Register"%}</button>
    </form>
    <div class="container-child">
      <a class="btn small-text" href="{% url 'login' %}">{%trans "Registered?"%}</a>
    </div>
  </div>
{% endblock %}
